<div class="band-d-wrap">
  <div class="title">バンド詳細ページ</div>

  <% if @band.band_type == 0 %>
    <div class="name"><%= @band.name %></div>
    <img src="/band-images/<%= @band.image%>" alt="">
    <div class="subtitle">バンド紹介文</div>
    <div class="description"><%= @band.description %></div>
    <div class="subtitle">結成年</div>
    <div class="description"><%= @band.year %></div>
    <div class="subtitle">メンバー</div>
    <div class="description"><% @band.band_members.each do |m|%><%= m.user.name if m%>    マイク番号<%= m.mic_number if m%><br><%end%></div>
    <div class="subtitle">バンマス,PA</div>
    <div class="description">バンマス:<%= @band.master.name %><br>PA:<%= @band.pa.name %></div>
  <% else %>
    <div class="name"><%= @band.name %></div>
    <div class="subtitle">出演イベント</div>
    <div class="description"><%= @band.event.name %></div>
    <div class="subtitle">メンバー</div>
    <div class="description"><% @band.band_members.each do |m|%><%= m.user.name if m%>    マイク番号<%= m.mic_number if m%><br><%end%></div>
    <div class="subtitle">企画責任者</div>
    <div class="description"><%= @band.master.name %></div>
  <% end %>
</div>

