<div class="mic-approvedlist-admin-wrapper">
  <div class="mic-approvedlist-title">
    <div class="mic-approvedlist-title-box">
      <h1>音響掲示板</h1>
    </div>
  </div>
  <div class="mic-approvedlist-main-wrapper">
  <% if @mics.any? %>
      <div class="mic-approvedlist-date"><%= @mics[0].date.strftime("%m月%d日") %></div>
      <div class="mic-approvedlist-time"><%= @mics[0].time %></div>
        <% i=0 %>
        <% dummy_date=@mics[i].date %>
        <% dummy_time=@mics[i].time %>
        <% j = @mics.count - 1 %>
        <% until i > j do %>
         <% if @mics[i].date == dummy_date %>
           <% if @mics[i].time == dummy_time %>
           <div class="mic-approvedlist-content">
              <div class="mic-approvedlist-band"><%= @mics[i].band %><span><%= "  (PA: " + @mics[i].pa.to_s + " / " + @mics[i].paattendance + ")" %></span>
                </div>
            </div>
              <% i += 1 %>
           <% else %>
              <% dummy_time=@mics[i].time %>
              <div class="mic-approvedlist-time"><%= @mics[i].time %></div>
           <% end %>

          <% else %>
          <% dummy_date=@mics[i].date %>
          <% dummy_time=@mics[i].time %>
          <div class="mic-approvedlist-date"><%= @mics[i].date.strftime("%m月%d日") %></div>
          <div class="mic-approvedlist-time"><%= @mics[i].time %></div>
          <% end %>

        <% end %>
    <% end %>
   <%= paginate(@mics) %>
  </div>
</div>
