<!-- <div class="mic-room-wrap">
  <h1>本日の部屋登録</h1>
	<div class="room-buttons">
		<a href="/database/mic/room-register/weekly" class="room-btn">週予約</a>
		<a href="/database/mic/room-register/monthly" class="room-btn">月予約</a>
	</div>
  <div class="mic-room-form">
    <div class="mic-room-current room-list">
      <p>本日分の部屋予約状況</p>
      <% if MicRoom.where(date: Date.today).any? %>
        <% MicRoom.where(date: Date.today).each do |room| %>
          <%= Period.find(room.period_id).name + "限  " + room.room.to_s %><br>
        <% end %>
      <% else %>
        本日のマイク練部屋登録はまだありません。
      <% end %>
    </div>
    <div class="mic-room-date"><%= Date.today.strftime("%m月 %d日") + "の部屋を登録" %></div>
    <%= form_tag('/database/mic/room-register/send') do %>
      <% Period.all.each do |p| %>
      <div class="mic-room-time-wrap">
        <div class="mic-room-time"><%= p.name %>限
          <% if @today_mics.where(period_id: p.id).any? %>
            <% @today_mics.where(period_id: p.id).each do |mic|%>
              (<%= mic.band + "  " + mic.status_string %>)
            <% end %>
          <% end %>
        </div>
        <select name="room<%= p.id %>" class="room-select">
          <option value="nil" selected>なし</option>
            <% @rooms.each do |room|%>
              <option value="<%= room %>"><%= room %></option>
            <% end %>
        </select>
      </div>
      <% end %>
    <input type="submit" value="登録する" class="submit-btn" id="mic-room-submit">
    <% end %>
  </div>
</div>
 -->
