<div class="room-usage-wrap">
  <div class="ru-title">部屋利用リスト</div>
  <div class="ru-desc">部屋利用者のリストを表示します。</div>
  <table>
    <tbody>
      <tr style="font-weight:bold;">
        <td>申請者</td>
        <td>部屋</td>
        <td>利用バンド</td>
        <td>時限</td>
      </tr>
      <% @dates.each do |date|%>
      <tr>
        <td colspan="4" style="background-color:#dedede;padding:4px;"><%= date.strftime("%m月%d日") %></td>
      </tr>
      <% RoomUsage.where(date: date).each do |usage|%>
			<% if usage %>
      <tr>
        <td><%= usage.user.name if usage.user%></td>
        <td><%= usage.room %></td>
        <td><%= usage.band.name if usage.band%></td>
        <td><%= usage.period.name if usage.period %></td>
      </tr>
      <% end %>
			<% end %>
      <% end %>
    </tbody>
  </table>
</div>
