<div class="room-usage-wrap">¥
        <td>時限</td>
      </tr>
      <% @dates.each do |date|%>
      <tr>
        <td colspan="4" style="background-color:#dedede;padding:4px;"><%= date.strftime("%m月%d日") %></td>
      </tr>
      <% RoomUsage.where(date: date).each do |usage|%>
      <tr>
        <td><%= usage.user.name %></td>
        <td><%= usage.room %></td>
        <td><%= usage.band.name %></td>
        <td><%= usage.period.join(',') %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
</div>
