<div class="band-show-wrapper">
  <table>
    <thead>
      <tr>
        <th>バンド名</th>
        <th>バンマス</th>
        <th>メンバー</th>
        <th>PA</th>
        <th>結成年</th>
        <th>説明</th>
        <th>編集</th>
      </tr>
    </thead>
    <tbody>
      <% @bands.each do |band|%>
        <tr>
          <td><%= band.name %></td>
          <td><%= band.master %></td>
          <td><%= band.members %></td>
          <td><%= band.pa %></td>
          <td><%= band.year %></td>
          <td><%= band.description %></td>
          <td>
            <%=form_tag("/database/bands/register/#{band.id}") do %>
            <input type="submit" value="承認">
            <% end %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
