<div class="mic-admin-wrapper">

  <div class="mic-title">
    <div class="mic-title-box">
      <h1>マイク練管理</h1>
    </div>
  </div>

  <div class="mic-main-wrapper">
    <div class="mic-description">
      ・ステータスを変更すると、マイク練申請者にメールが届きます。<br>
      ・承認ボタンは確認してから押してください。
      <%= link_to "・未承認マイク練はこちら", "/database/mic-practice/unapproved", class: "unregistered" %>
    </div>
  </div>


  <% mics = Mic.order("date ASC, period_id ASC").select {|m| m.date >= Date.today} %>
    <div class="mic">
    <% mics.map(&:date).uniq.each do |date|%>
      <div class="mic">
      <div class="date"> <%= date.strftime("%m月%d日" + "(#{%w(日 月 火 水 木 金 土)[date.wday]})") %>
      </div>
      <div class="date-mics<%= " today" if date == Date.today %>">
      <% mics.select {|m| m.date == date}.each do |mic|%>
        <div class="mic-admin-band">
          <div class="left">
            <div class="period"><%= mic.period.name%>
              <% if mic.order %>
                <%= "分割#{mic.order}番目" %>
              <% end %>
              <% if mic.remark != "" && mic.remark %>
                <div class="mic-remark">
                  <%= link_to("備考あり","/database/mic-remark/#{mic.id}") %>
                </div>
              <% end %>
              <% if mic.room %>
                <%= link_to("#{mic.room.name}",database_microom_register_path(date:mic.date)) %>
              <% else %>
                <%= link_to("部屋を登録する",database_microom_register_path(date:mic.date)) %>
              <% end %>
            </div>

            <% if mic.band.band_type == 0 %>
              <div class="band-pa"><%= link_to "#{mic.band.name}", "/database/mic-band-detail/#{mic.band.id}", class: "band-name" %> (PA:<%= mic.band.pa.name %>
                <% if mic.paattendance == "不参加" %>
                  <span class="attendence-alert"><%= mic.paattendance %></span>
                <% else %>
                  <%= mic.paattendance %>
                <% end %>)</div>
              <!-- <div class="created-at">申請日時: <%= mic.created_at.strftime("%m月%d日 %H:%M")%></div> -->
              <a href="mailto:<%= mic.band.master.email %>">バンマスに連絡：<%=mic.band.master.name%></a>
            <% else %>
              <div class="band-pa"><%= link_to "#{mic.band.name}", "/database/mic-band-detail/#{mic.band.id}", class: "band-name" %></div>
              <!-- <div class="created-at">申請日時: <%= mic.created_at.strftime("%m月%d日 %H:%M")%></div> -->
              <a href="mailto:<%= mic.band.master.email %>">企画責任者に連絡：<%=mic.band.master.name%></a>
            <% end %>

          </div>
				  <div class="right-delete">
            <%= link_to('削除',"/database/mic-practice/delete/#{mic.id}",{method: 'POST',class: "delete-btn",data:{confirm: "本当に削除しますか？"}}) %>
          </div>
          <div class="right-approve">
            <%= link_to('承認',"/database/mic-practice/approve/#{mic.id}",{method: 'POST',class: "approve-btn",data:{confirm: "本当に承認しますか？"}}) if mic.status.to_i == 0%>
            <% if mic.status.to_i == 1 %>
              <a class="approve-btn approved">承認済</a>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
      </div>
    <% end %>

</div>
