<div class="mic-admin-wrapper">
  <div class="mic-title">
    <div class="mic-title-box">
      <h1>マイク練管理</h1>
    </div>
  </div>
  <div class="mic-main-wrapper">
    <div class="mic-description">
      ・ステータスを変更すると、マイク練申請者にメールが届きます。<br>
      ・準備時間や分割などの場合「条件付き承認」を選択してください。<br>
      ・送信ボタンは確認してから押してください。
    </div>
  </div>
  <% mics = Mic.select {|m| m.date >= Date.today}%>
    <% mics.map(&:date).uniq.each do |date|%>
      <div class="date"> <%= date.strftime("%m月%d日" + "(#{%w(日 月 火 水 木 金 土)[date.wday]})") %>
      </div>
      <% mics.select {|m| m.date == date}.each do |mic|%>
        <div class="mic-admin-band">
          <div class="left">
            <div class="period"><%= "#{Period.find(mic.period_id).name}限"%>
              <%= link_to("部屋を登録する",database_microom_register_path(date:mic.date)) unless MicRoom.where(date: mic.date).where(period_id: mic.period_id).any? %>
							<%= MicRoom.where(date: mic.date).where(period_id: mic.period_id).first.name %>
            </div>
            <div class="band-pa"><p><%= Band.find(mic.band_id).name %></p> (PA:<% Band.find(mic.band_id).pa %>)</div>
            <div class="created-at">申請日時: <%= mic.created_at.strftime("%m月%d日 %H:%M")%></div>
          </div>
				  <div class="right-delete">
            <%= link_to('削除',"/database/mic-practice/delete/#{mic.id}",{method: 'POST',class: "delete-btn",data:{confirm: "本当に削除しますか？"}}) if mic.status.to_i == 0%>
            <% if mic.status.to_i == 1 %>
            <% end %>
          </div>
          <div class="right-approve">
            <%= link_to('承認',"/database/mic-practice/approve/#{mic.id}",{method: 'POST',class: "approve-btn",data:{confirm: "本当に承認しますか？"}}) if mic.status.to_i == 0%>
            <% if mic.status.to_i == 1 %>
              <a class="approve-btn approved">承認済</a>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
