<div class="mic-admin-wrapper">
  <div class="mic-title">
    <div class="mic-title-box">
      <h1>マイク練管理</h1>
    </div>
  </div>


  <div class="mic-main-wrapper">
      <div class="mic-date"><%= @mics[0].date %></div>
      <div class="mic-time"><%= @mics[0].time %></div>
        <% i=0 %>
        <% dummy_date=@mics[i].date %>
        <% dummy_time=@mics[i].time %>
        <% j = @mics.last.id %>
        <% until i > j do %>
         <% if @mics[i].date == dummy_date %>
           <% if @mics[i].time == dummy_time %>
              <div class="mic-band"><%= @mics[i].band %></div>
              <% i+=1 %>
           <% else %>
              <% dummy_time=@mics[i].time %>
              <div class="mic-time"><%= @mics[i].time %></div>
           <% end %>

          <% else %>
          <% dummy_date=@mics[i].date%>
          <div class="mic-date"><%= @mics[i].date %></div>
          <% end %>

        <% end %>
  </div>




</div>
