<div class="database-users-wrapper">
<div class="user-show-description">
  <h1>ユーザー管理画面</h1>
  <div class="user-description-box">ユーザーの管理ができます。データベースにアクセスできる管理者の権限を更新する場合管理者権限のセル内の「編集」ボタンを押してください。</div>
</div>
<div class="user-display-grid">
  <% @users.each do |user|%>
  <div class="user-display">
    <div class="user-display-inner">
      <div class="user-display-basic">
        <div class="user-display-name"><%= user.name %></div>
        <div class="user-display-univ"><%= user.univ %></div>
        <div class="user-display-year"><%= user.year %>年度入会(<%= Date.today.year - user.year + 1 %>年目)</div>
      </div>
      <div class="user-display-contact">
        <div class="user-display-tel"><i class="fa fa-phone"></i> <%= user.tel %></div>
        <div class="user-display-email"><i class="fa fa-envelope-o"></i><%= user.email %></div>
        <div class="user-display-authority"><i class="fa fa-user-plus"></i>
        <% if user.authority == nil %>
          一般サークル員
        <% elsif user.authority == "admin"%>
          ポータル管理者
        <% elsif user.authority == "producer"%>
          サークルライブプロデューサー
        <% elsif user.authority == "mic"%>
          音響セクション員(マイク練管理者)
        <% end %>
        <button class="open-modal" type="button" data-toggle="modal" data-target=".modal" data-id="<%= user.id %>" data-name="<%= user.name %>">編集</button>
        <% if user.approval == false %>
        <%= link_to("承認",'/database/user/' + user.id.to_s + '/approve',method: 'post',class: "approve-button", data: {confirm: "本当に承認しますか？"}) %>
        <% else %>
        <div class="approve-button">承認済み</div>
        <% end %>
      </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

  <div class="modal">
    <div class="modal-close"><i class="fa fa-times"></i></div>
    <div class="modal-title"> さんの権限を変更</div>
    <form action="#" method="post">
    <div class="modal-select">
      <select name="authority">
        <option value="admin">WEB管理者</option>
        <option value="producer">プロデューサー</option>
        <option value="mic">マイク練管理</option>
        <option value="nil">なし</option>
      </select>
    </div>
    <input type="submit" name="user_id" value="送信">
    </form>
  </div>
</div>
