<div class="main-wrapper-admin">
  <div class="title-wrapper">
    <h1 class="title-word">データベース管理</h1>
  </div>

  <div class="menu-box">
    <div class="content-box">
      <%= link_to("/database/registered-bands") do %>
        <div class="content-img" id="band-img">
        </div>
        <p>バンド一覧</p>
      <% end %>
    </div>
  </div>

  <div class="menu-box">
    <div class="content-box">
      <%= link_to("/database/users") do %>
        <div class="content-img" id="user-img">
        </div>
        <p>ユーザー(サークル員)</p>
      <% end %>
    </div>
  </div>

  <div class="menu-box">
    <div class="content-box">
      <%= link_to("/database/bands") do %>
        <div class="content-img" id="form-img">
        </div>
        <p>正規申請中バンド</p>
      <% end %>
    </div>
  </div>


  <div class="menu-box">
    <div class="content-box">
      <%= link_to("/database/mic-practice") do %>
        <div class="content-img" id="mic-img">
        </div>
        <p>マイク練管理</p>
      <% end %>
    </div>
  </div>

  <div class="menu-box">
    <div class="content-box">
      <%= link_to("/database/mic-practice-approvedlist") do %>
        <div class="content-img" id="mic-img">
        </div>
        <p>音響掲示板</p>
      <% end %>
    </div>
  </div>

  <div class="menu-box">
    <div class="content-box">
      <%= link_to('/database/room-usage') do %>
        <div class="content-img" id="room-img">
        </div>
        <p>練習室使用</p>
      <% end %>
    </div>
  </div>

  <div class="menu-box">
    <div class="content-box">
      <%= link_to("/database/temporal-bands") do %>
        <div class="content-img" id="band-img">
        </div>
        <p>企画バンド</p>
      <% end %>
    </div>
  </div>

  <div class="menu-box">
    <div class="content-box">
      <%= link_to("/database/notifications") do %>
        <div class="content-img" id="info-img">
        </div>
        <p>お知らせ</p>
      <% end %>
    </div>
  </div>

  <div class="menu-box">
    <div class="content-box">
      <%= link_to("/database/show-event") do %>
        <div class="content-img" id="info-img">
        </div>
        <p>サークルイベント登録</p>
      <% end %>
    </div>
  </div>
</div>
