<div class="main-wrapper-login">
<div class="login-wrapper">
  <h1>パスワード変更</h1>
  <div class="login-content-wrapper">
    <div class="login-content login-title">
      <h1>SCS Portal</h1>
    </div>
    <div class="login-content signin-box">
      <p id="login-with-account">変更用リンクの送信先※Portalアカウントのアドレス</p>

      <!-- <%= form_tag("/user/password/sent") do %>
        <input type="email" name="email" class="login-input login-email-input" value="<%= @email %>" placeholder="Emailアドレスを入力">
        <p id="show-pass"></p>
        <% if @error != nil %>
          <div class="login-error-message"><%= @error %></div>
        <% end %>
        <input type="submit" id="login-btn" value="送信">
      <% end %> -->

      <%= form_for(:password_reset, url: password_reset_index_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'login-input login-email-input' %>

        <%= f.submit "送信", id: "login-btn" %>
      <% end %>

      <a href="/signup" class="btn" id="signup-btn">新規会員登録はこちら</a>
    </div>
  </div>
</div>
</div>

