<div class="comment-wrapper">
  <div class="comment-inner">
    <div class="comment-side">
      <div class="comment-side-title">コメント/講評送信画面</div>
      <div class="comment-side-category">メニュー
      </div>
      <div class="comment-side-content"><a href="/submit/comment/conference">総会コメント</a></div>
      <div class="comment-side-content"><a href="/submit/comment/performance">オーディション講評など</a></div>
      <div class="comment-side-content"><a href="/submit/comment/list">送信コメント一覧</a></div>
      <div class="comment-side-content"><a href="/submit/comment/all">総会コメントを見る</a></div>
    </div>
    <div class="comment-main">
      <h1>コメント詳細</h1>
        <div class="sent-comment">
          <div class="sent-comment-object"><%= @comment.event.name %>  <%= @comment.event_content.name %><%= link_to('コメントを削除','/submit/comment/list/destroy/' + @comment.id.to_s ,{:method => 'POST', data: {confirm: "本当に取り消しますか？"}})%> </div>
          <div class="sent-comment-content"><%= @comment.comment %></div>
        </div>
        <div class="comment-reply-container">
              <div class="reply-image"><i class="fa fa-reply"></i></div>
              <div class="reply-content">
                <%= form_tag('/submit/comment/list/detail/' + @comment.id.to_s + '/reply-send',{data: {confirm: "送信しますか？"}}) do %>
                  返信を送信する
                  <div class="reply-text"><textarea name="text"></textarea></div>
                  <input type="submit" name="" class="reply-send-btn" value="送信する">
                <% end %>
              </div>
            </div>
        <% if Comment.where(reply_to: @comment.id).any?%>
          <% Comment.where(reply_to: @comment.id).each do |reply|%>
            <div class="comment-reply-container">
              <div class="reply-image"><i class="fa fa-reply"></i></div>
              <div class="reply-content">
                <%= reply.user.name %> さんからの返信(送信日時:<%= reply.created_at.strftime("%y年%m月%d日 %H時%M分") %>)
                <% if reply.user == @current_user %>
                  <%= link_to("コメントを削除",'/submit/comment/delete/' + reply.id.to_s,{:method => "POST", data: {confirm: "本当に取り消しますか？"}})%>
                <% end %>
                <div class="reply-text"><%= reply.comment%></div>
              </div>

            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>
