<div class="comment-wrapper">
  <div class="comment-title">
    <h1>総会へのコメント・バンドへの講評</h1>
    <span>各総会やオーディション・演奏会への講評やコメントを送信できます。<br>メニューから講評を送信したい項目を選択後、入力画面から送信してください。</span>
  </div>

  <div class="comment-form">
    <%= form_tag('/submit/comment/conference/send') do%>
    <table>
      <tbody>
        <tr><td colspan="2" ><h2>総会コメント</h2></td>
        </tr>
        <tr>
          <td class="content-designate">総会</td>
          <td class="comment-content">
            <select name="object1" id="conference-selecter">
              <% @conferences.each do |con|%>
                <option value="<%= con.name %>"><%= con.name %></option>
              <% end %>
              <option value="">その他</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="content-designate">コメント先</td>
          <td class="comment-content">
            <select name="object2" id="conference-selecter">
              <% if @object1 %>
                <% @conference.contents.each do |content|%>
                  <option value="<%= content %>"><%= content %></option>
                <% end %>
              <% else %>
                <option value="">総会を選択してください</option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td class="content-designate">内容</td>
          <td class="comment-content"><input type="checkbox" name="" value="" id="anonimity-checkbox"><span id="anonimity-caution">匿名で送信する</span></td>
        </tr>
        <tr>
          <td class="content-designate">コメント</td>
          <td class="comment-content"><textarea></textarea></td>
        </tr>
        <tr>
          <td colspan="2" class="submit-td">
            <input type="submit" id="conference-comment-send-btn" value="送信">
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>
