<div class="entry-inner">
  <div class="entry-sidemenu">
    <div class="entry-side-title">エントリー</div>
    <div class="entry-side-sub">メニュー</div>
    <%=link_to('/submit/entry') do%><div class="entry-side-content">エントリーする</div><%end%>
    <%=link_to('/submit/entry/list') do%><div class="entry-side-content">エントリー一覧</div><%end%>
    <%=link_to('/submit/entry/admin') do%><div class="entry-side-content">エントリー管理画面</div><%end%>
  </div>
  <div class="entry-main">
    <h1><%= @event.name %>エントリー</h1>
    <div class="entry-menu-description">
      イベント"<%= @event.name %>"にエントリーします。<br>
      <% if @event.event_type == 0 %>
        エントリーボタンを押すと、個人申請が受付されます。
      <% elsif @event.event_type == 1 %>
        正規バンドを選択したのち、エントリーボタンを押してください。
      <% elsif @event.event_type == 2 %>
        企画バンドを選択したのち、エントリーボタンを押してください。企画バンドが表示されない場合は、先にホームメニュー＞企画バンドの申請 から企画バンドの申請を行ってください。
      <% elsif @event.event_type == 3 %>
        正規バンド、もしくは企画バンドを選択したのち、エントリーボタンを押してください。企画バンドが表示されない場合は、先にホームメニュー＞企画バンドの申請 から企画バンドの申請を行ってください。
      <% end %>
    </div>
    <% if @entry.errors.any? %>
      <div class="error-message"><% @entry.errors.full_messages.each do |message| %><%= message %><br><% end %></div>
    <% end%>
    <%= form_tag('/submit/entry/event/' + @event.id.to_s + '/send') do%>
    <% if @event.event_type == 0 %>
      <div class="entry-form">
        <textarea name="message" placeholder="メッセージが送信できます"></textarea>
        <input type="submit" name="" value="個人エントリーする">
      </div>
    <% elsif @event.event_type == 1 %>
      <div class="entry-form">
        <div class="entry-form-content">正規バンドを選択</div>
        <select name="regular_band">
          <option disabled selected>正規バンドを選択</option>
          <% if @current_user.bands.where(band_type: 0).any? %>
            <% @current_user.bands.where(band_type: 0).each do |band|%>
              <option value="<%=band.id%>"><%= band.name %></option>
            <% end %>
          <% end %>
        </select>
        <div class="entry-form-content">1曲目(右側曲尺)</div>
          <div class="entry-form-content-wrap">
          <input type="text" name="music1" placeholder="曲名を入力" class="input-music"><input type="time" name="time1" class="input-music-time">
        </div>
        <div class="entry-form-content">2曲目</div>
          <div class="entry-form-content-wrap">
            <input type="text" name="music2" placeholder="曲名を入力" class="input-music"><input type="time" name="time2"  class="input-music-time">
          </div>
        <div class="entry-form-content">3曲目</div>
          <div class="entry-form-content-wrap">

            <input type="text" name="music-3" placeholder="曲名を入力" class="input-music"><input type="time" name="time-3"  class="input-music-time">
          </div>
        <div class="entry-form-content">4曲目</div>
          <div class="entry-form-content-wrap">
            <input type="text" name="music-4" placeholder="曲名を入力" class="input-music"><input type="time" name="time-4" class="input-music-time">
          </div>
        <div class="entry-form-content">MC総尺</div>
        <input type="time" name="mc-time" class="mc-time">
        <input type="submit" name="" value="エントリーする">
      </div>
    <% elsif @event.event_type == 2 %>
      <div class="entry-form">
        <input type="submit" name="" value="エントリーする">
      </div>
    <% elsif @event.event_type == 3 %>
      <div class="entry-form">
        <div class="entry-form-content">正規バンドを選択(企画エントリーの場合は入力しないでください)</div>
        <select name="regular_band" class="band-select-regular">
          <option disabled selected value=0>正規バンドを選択</option>
          <% if @current_user.bands.any? %>
          <% @current_user.bands.where(band_type: 0).each do |band|%>
          <option value="<%=band.id%>"><%=band.name%></option>
          <% end %>
          <% end %>
        </select>
        <div class="entry-form-content">企画バンドを選択(正規バンドの場合は入力しないでください)</div>
        <select name="temporal_band" class="band-select-temporal">
          <option disabled selected value=0>企画バンドを選択</option>
          <% if @current_user.bands.where(band_type: 1).any? %>
            <% @current_user.temporal_bands.each do |band|%>
              <option value="<%=band.id%>"><%=band.name%></option>
            <% end %>
          <% end %>
        </select>
        <input type="submit" name="" value="エントリーする">
      </div>
    <% end %>
    <% end %>
  </div>
</div>
