<div class="entry-inner">
  <div class="entry-sidemenu">
    <div class="entry-side-title">エントリー</div>
    <div class="entry-side-sub">メニュー</div>
    <%=link_to('/submit/entry') do%><div class="entry-side-content">エントリーする</div><%end%>
    <%=link_to('/submit/entry/list') do%><div class="entry-side-content">エントリー一覧</div><%end%>
    <%=link_to('/submit/entry/admin') do%><div class="entry-side-content">エントリー管理画面</div><%end%>
  </div>
  <div class="entry-main">
    <h1>エントリーメニュー</h1>
    <div class="entry-menu-description">
      メニューから、エントリーする項目を選択してください。
    </div>
    <% if @events.any? %>
    <% @events.each do |event|%>
      <%= link_to("/submit/entry/event/"+ event.id.to_s) do %>
      <div class="entry-menu-content">
        <%= event.name %>
      </div>
      <% end %>
    <% end %>
    <% end %>
  </div>
</div>
