<div class="mic-submit-wrap">
  <div class="mic-submit-inner">
    <div class="mic-sub-side">
      <p class="display-small-title">マイク練申請画面</p>
      <div class="mic-sub-side-title">マイク練申請</div>
      <div class="mic-sub-side-category">メニュー</div>
      <div class="mic-sub-side-content"><a href="/submit/mic">申請</a></div>
      <div class="mic-sub-side-content"><a href="/submit/mic-list">申請済みリスト</a></div>
      <div class="mic-sub-side-content">管理</div>
    </div>
    <div class="mic-sub-main">
      <%= form_tag('/submit/mic/send') do %>
      <div class="mic-sub-form">
        <% if @mic.errors.any? %>
          <div class="mic-form-errors">
            <% @mic.errors.full_messages.each do |e|%><br>
              <%= e %>
            <% end %>
          </div>
        <% end %>
        <h1>マイク練申請フォーム</h1>
        <div class="mic-sub-form-content">申請する日時を選択</div>
        <input type="date" name="date" id="mic-date-input" value="<%= Date.today + 5 %>">
        <div class="mic-sub-form-content">時限を選択</div>
        <div class="mic-time-picker">
          <input type="radio" class="mic-time-input" id="mic0" name="time" value="0限"><label for="mic0" class="mic-time-pick">0限(8:00-9:00)</label>
          <input type="radio" class="mic-time-input" id="mic1" name="time" value="1限"><label for="mic1" class="mic-time-pick">1限(9:00-10:30)</label>
          <input type="radio" class="mic-time-input" id="mic2" name="time" value="2限"><label for="mic2" class="mic-time-pick">2限(10:40-12:10)</label>
          <input type="radio" class="mic-time-input" id="mic2" name="time" value="昼限"><label for="micL" class="mic-time-pick">昼限(12:10-13:00)</label>
          <input type="radio" class="mic-time-input" id="mic3" name="time" value="3限"><label for="mic3" class="mic-time-pick">3限(13:00-14:30)</label>
          <input type="radio" class="mic-time-input" id="mic4" name="time" value="4限"><label for="mic4" class="mic-time-pick">4限(14:45-16:15)</label>
          <input type="radio" class="mic-time-input" id="mic5" name="time" value="5限"><label for="mic5" class="mic-time-pick">5限(16:30-18:00)</label>
          <input type="radio" class="mic-time-input" id="mic6" name="time" value="6限"><label for="mic6" class="mic-time-pick">6限(18:15-19:45)</label>
          <input type="radio" class="mic-time-input" id="mic7" name="time" value="7限"><label for="mic7" class="mic-time-pick">7限(19:55-21:25)</label>
        </div>
        <div class="mic-sub-form-content">バンドを選択</div>
        <select name="band">
          <option value="nil" disabled selected>選択してください</option>
          <%= @current_user.bands.each do |band|%>
          <option value="<%= band.name %>"><%= band.name %></option>
          <% end %>
        </select>
        <div class="mic-sub-form-content">PAの参加可否</div>
        <select name="paattendance">
          <option value="参加">参加</option>
          <option value="不参加">不参加</option>
        </select>
        <input type="submit" name="" id="mic-submit-btn" value="申請">
      </div>
      <% end %>
    </div>
  </div>
</div>
