<div class="mic-list-wrap">
  <div class="mic-list-inner">
    <div class="mic-sub-side">
      <p class="display-small-title">マイク練申請画面</p>
      <div class="mic-sub-side-title">マイク練申請</div>
      <div class="mic-sub-side-category">メニュー</div>
      <div class="mic-sub-side-content"><a href="/submit/mic">申請</a></div>
      <div class="mic-sub-side-content"><%= link_to "申請済みリスト", :controller => "submit", :action => "mic_list" %></div>
    </div>
    <div class="mic-sub-main mic-main2">
      <h1>マイク練申請済みリスト</h1>
      <% @mics.each do |mic| %>
        <% mic.each do |m| %>
          <div class="mic-list-contents">
            <div class="mic-list-content mic-list-content-title"><%= m.band.name %></div>
            <div class="mic-list-content mic-list-content-date"><%= m.date %></div>
            <div class="mic-list-content mic-list-content-time"><%= m.period.name %></div>
            <div class="mic-list-content mic-list-content-status"><%= m.status_string %></div>
            <div class="mic-list-content mic-list-content-cancel"><%= link_to('申請取消','/submit/mic/destroy/' + m.id.to_s , {:method => 'post', data: {confirm: "本当に取り消しますか？"}})%></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
