<div class="room-wrapper">
  <div class="room-title">
    <div class="room-title-box">
      <h1>練習室利用</h1>
    </div>
  </div>
  <%= form_tag('/submit/room/send', method: "post") do %>
  <div class="room-contents-container">

    <% if @usage.errors.any? %>
      <div class="error-messages">
        <% @usage.errors.full_messages.each do |message|%>
          <%= message %><br>
        <% end %>
      </div>
    <% end %>

    <div class="room-about">練習室利用は現役正規バンドのみ可能です。<br>
      自分の正規バンドが表示されない場合、申請に誤りがあるか、ユーザーの登録が正しく完了していない場合があります。</div>
    <div class="room-current">本日マイク練が申請されている時限数：<%= Mic.where(date: Date.today).pluck(:period_id).uniq.count %>
      <div class="rcurrent-title">   <%= Date.today.strftime("%m月%d日")%>の利用状況</div>
      <% if @usages.count != 0 %>
        <% @usages.each do |usage| %>
          <% if usage.band %>
            <%= usage.room.name if usage.room%>
            <%= usage.band.name if usage.band%>
            <%= usage.period.name if usage.period%>
            <% if @current_user.band_names.include?(usage.band.name) %>
              <%= link_to('消去','/submit/room/destroy/' + usage.id.to_s , {:method => 'post', data: {confirm: "本当に取り消しますか？"}})%>
            <% end %>
            <br>
          <% else %>
            <%= usage.room.name if usage.room%>
            <%= usage.user.section if usage.user%>
            <%= usage.period.name if usage.period%>
            <% if @current_user.section == usage.applicant %>
              <%= link_to('消去','/submit/room/destroy/' + usage.id.to_s , {:method => 'post', data: {confirm: "本当に取り消しますか？"}})%>
            <% end %>
            <br>
          <% end %>
        <% end %>
      <% else %>
        現在の利用申請はまだありません。
      <% end %>
      <a href="/database/room-usage">過去の利用履歴を見る</a><br>
    </div>
  <div class="room-content-title">利用部屋</div>
  <div class="room-content-wrap">
    <% Room.where(room_type:1).each do |room|%>
    <input type="radio" class="room-radio" id="<%= room.name %>" name="room" value="<%= room.id %>"><label for="<%= room.name %>"><%= room.name %></label>
    <% end %>
  </div>
  <div class="room-content-title">利用日</div>
  <div class="room-content-wrap">
    <input type="radio" class="room-radio" id="today" name="date" value="<%= Date.today%>"><label for="today" id="today"><%= Date.today.strftime("%m/%d") %>(本日)</label>
    <input type="radio" class="room-radio" id="tomorrow" name="date" value="<%= Date.today + 1%>"><label for="tomorrow"><%= (Date.today + 1).strftime("%m/%d")  %>(<%= %w(日 月 火 水 木 金 土)[(Date.today + 1).wday] %>)</label>
    <input type="radio" class="room-radio" id="tomorrow1" name="date" value="<%= Date.today + 2%>"><label for="tomorrow1"><%= (Date.today + 2).strftime("%m/%d")  %>(<%= %w(日 月 火 水 木 金 土)[(Date.today + 2).wday] %>)</label>
    <input type="radio" class="room-radio" id="tomorrow2" name="date" value="<%= Date.today + 3%>"><label for="tomorrow2"><%= (Date.today + 3).strftime("%m/%d")  %>(<%= %w(日 月 火 水 木 金 土)[(Date.today + 3).wday] %>)</label>
    <input type="radio" class="room-radio" id="tomorrow3" name="date" value="<%= Date.today + 4%>"><label for="tomorrow3"><%= (Date.today + 4).strftime("%m/%d")  %>(<%= %w(日 月 火 水 木 金 土)[(Date.today + 4).wday] %>)</label>
  </div>
  <div class="room-content-title">利用時間</div>
  <div class="room-content-wrap">
  <% @periods.each do |period| %>
    <input type="checkbox" class="room-radio" id="<%= period.name %>" name="period_<%= period.id %>" value="<%= period.id %>"><label for="<%= period.name %>"><%= period.name %></label>
  <% end %>
  </div>
  <div class="room-content-title">利用者</div>
    <select name="band" class="band-select">
      <option value="" selected disabled>選択してください</option>
      <%= @bands.each do |band| %>
        <option value="<%=band.name%>"><%= band.name %></option>
      <% end %>
      <option value="<%= @current_user.section %>">自分のセクション</option>
    </select>
  </div>
  <input type="submit" name="" value=利用申請する id="room-submit">
 <% end %>
</div>
