<div class="temporal-wrapper">
  <h1>企画バンド申請</h1>
  <div class="description-tem">企画バンドの申請ができます。<br>氏名の入力が間違っていると、申請できません。<br>「正しい漢字」「氏名の間はスペースを空けない」ことを必ず確認して入力してください。</div>
  <div class="tem-band-form-wrapper">
    <%= form_tag("/submit/temporal-band/send") do %>
      <div class="tem-form">
        <div class="tem-form-content">基本情報</div>
        <div class="tem-form-content-small">企画バンド名<span class="reg-caution"> ※必須</span></div>
        <input type="text" name="name" placeholder="企画名を入力して下さい">
        <div class="tem-form-content-small">出演予定イベント<span class="reg-caution"> ※必須</span></div>
        <div class="tem-form-select-wrap">
          <select name="event">
            <option value="" disabled selected>選択して下さい</option>
            <% @events.where(category: "stage").each do |event|%>
              <option value="<%= event.name %>"><%= event.name %></option>
            <% end %>
          </select>
        </div>
        <div>該当するマイク番号にメンバーの氏名を入力してください</div>
       <% 8.times do |i|%>
        <div class="reg-form-content-small">マイク番号<%= i + 1 %><span class="reg-caution"><%= "※必須" if i <= 2 %></span></div>
        <div class="reg-member-registration-<%= i + 1%> reg-member-registration"></div>
        <input class="reg-member-input <%= i + 1%>" type="text" name="member<%= i + 1 %>" placeholder="氏名を入力して下さい" list="nameList" value=<%=@mem[i]%>>
        <datalist id="nameList">
          <% @names.each do |name|%>
            <option value="<%= name %>"><%= name %></option>
          <% end %>
        </datalist>
       <% end %>

       <div class="reg-form-content-small">企画バンド責任者<span class="reg-caution"> ※必須</span></div>
       <input type="text" name="master" placeholder="氏名を入力して下さい" value=<%=@master%>>

      <input class="tem-send-btn" type="submit"></input>
      </div>
    <% end %>
  </div>
</div>
