<div class="band-d-wrap">
  <div class="title">バンド詳細ページ</div>
  <% if band.band_type == 0 %>
    <div class="name"><%= band.name %></div>
    <img src="https://pbs.twimg.com/profile_images/980091035249332224/8nOrIsWz_400x400.jpg" alt="">
    <div class="subtitle">バンド紹介文</div>
    <div class="description"><%= band.description %></div>
    <div class="subtitle">特徴</div>
    <div class="description"><%= band.feature if band.feature%></div>
    <div class="subtitle">結成年</div>
    <div class="description"><%= band.year %></div>
    <div class="subtitle">メンバー</div>
    <div class="description"><% band.band_members.order(:mic_number).each do |m|%><%= m.user.name if m%>    マイク番号<%= m.mic_number if m%><br><%end%></div>
    <div class="subtitle">バンマス,PA</div>
    <div class="description">バンマス:<%= band.master.name %><br>PA:<%= band.pa.name %></div>
  <% else %>
    <div class="name"><%= band.name %></div>
    <div class="subtitle">出演イベント</div>
    <div class="description"><%= band.event.name %></div>
    <div class="subtitle">メンバー</div>
    <div class="description"><% band.band_members.each do |m|%><%= m.user.name if m%>    マイク番号<%= m.mic_number if m%><br><%end%></div>
    <div class="subtitle">企画責任者</div>
    <div class="description"><%= band.master.name %></div>
  <% end %>
</div>
