<div class="band-show-wrapper">
  <div class="band-show-inner">
    <div class="band-show-title">正規バンド一覧</div>
    <div class="submenu">
      登録された年順
      </br>年を押すと開きます
      </br>現在のバンド数：<%= @bands.length %>
    </div>
    <div class="band-show-container">
      <div class="mic-admin-wrapper">
          <% @years.each do |year|%>
            <div class="mic">
            <div class="date"> <%= year %>
            </div>
            <div class="date-mics">
            <% @bands_by_year[year.to_s.to_sym].each do |band|%>
              <div class="mic-admin-band">
                <div class="left">
                  <div class="band-pa"><%= link_to(band.name,band_path(band),{class: "band-name"})%></div>
                </div>
                <% if @current_user.bands.include?(band) %>
                <div class="right-delete">
                  <%= link_to("削除", band_path(band), {:class => "delete-btn", :method => 'DELETE', :data =>{:confirm => "#{band.name}を正規バンドから外してよろしいですか？"}})%>
                </div>
                <div class="right-approve">
                  <%= link_to("編集", edit_band_path(band), {:class => "approve-btn", :data => {:confirm => "いたずらで編集を申請するのはやめてください。加えられた変更はwebマスターによってホームページに反映されます。"}}) %>
                </div>
                <% end %>
              </div>
            <% end %>
            </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>



