<div class="signup-wrapper">
  <h1>新規登録</h1>
  <div class="form-wrapper">
    <%= form_tag("/signup/send") do %>
      <div class="signup-form">
        <% if @user.errors.any? %>
            <div class="mic-form-errors">
                <% @user.errors.full_messages.each do |message| %>
                    <%= message %><br>
                <% end %>
            </div>
        <% end %>
        <div class="signup-content">個人情報登録</div>
        <div class="signup-content-small">氏名<strong>(スペースなし)</strong> <span>※必須</span></div>
        <input type="text" name="name" placeholder="氏名を入力(スペースなし)" value=<%=@user.name%>>
        <div class="signup-content-small">Emailアドレス <span>※必須</span></div>
        <input type="email" name="email" placeholder="普段使用するメールアドレスを入力してください" value=<%=@user.email%>>
        <div class="signup-content-small">電話番号(ハイフンなし) <span>※必須</span></div>
        <input type="text" name="tel" placeholder="電話番号をハイフンなしで入力してください" value=<%=@user.tel%>>
        <div class="signup-content">その他の情報</div>
        <div class="signup-content-small">SCSに入会した年度 <span>※必須</span></div>
        <input type="text" name="year" placeholder="半角数字 例)2016" value=<%=@user.year%>>
        <div class="signup-content-small">セクション <span>※必須</span></div>
        <select name="section" class = "section_select">
            <option value="" selected disabled>選択してください</option>
            <option value="舞台監督">舞台監督</option>
            <option value="音響">音響</option>
            <option value="照明">照明</option>
            <option value="舞台美術">舞台美術</option>
            <option value="インカム">インカム</option>
            <option value="TK">TK</option>
            <option value="会場">会場</option>
            <option value="渉外">渉外</option>
            <option value="広報">広報</option>
            <option value="デザイン">デザイン</option>
            <option value="記録">記録</option>
            <option value="宴会">宴会</option>
        </select>
        <div class="signup-content-small">大学名 <span>※必須</span></div>
        <input type="text" name="univ" placeholder="例)早稲田大学" value=<%=@user.univ%>>
        <div class="signup-content">パスワード登録</div>
        <div class="signup-content-small">パスワード(6文字以上) <span>※必須</span></div>
        <input type="password" name="password" placeholder="パスワードを登録">
        <div class="signup-content-small">パスワード再入力 <span>※必須</span></div>
        <input type="password" name="password_confirmation" placeholder="パスワードを再入力">
        <div class="signup-rule">
          ・パスワードや個人情報は漏れることのないよう大切に保管して下さい。<br>
          ・管理者権限が与えられる場合は、SCSサークル員以外のユーザーを登録しないよう留意して下さい。<br>
          ・申請フォームなどの入力は、取り消しが可能ですが、慎重に行うようお願いします。<br>
          ・悪意のある利用・機能外の個人的な利用は控えて下さい。<br>
        </div>
        <input type="submit" class="signup-btn" value="新規登録">
      </div>
    <% end %>
  </div>
</div>
