
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>[<%= @mic.band.name %>]からマイク練申請がありました</h1>
    <br><br>
    <div style="font-size: 16px;padding:16px;background-color:#335;color:white;font-weight:bold;">
      日程.....<%= @mic.date %><br>
      時限.....<%= @mic.period.name %><br>
      送信者.....<%= @mic.user.name %><br>
      PAの参加予定.....<% if @mic.paattendance == "不参加" %>
                        <span style="color: #FF4500;"><%= @mic.paattendance %></span><br>
                      <% else %>
                        <%= @mic.paattendance %><br>
                      <% end %>
      <%if @mic.remark %>
        備考.....<%= @mic.remark %>
      <% end %>
    </div><br><br>
    <p style="font-size: 13px">Portalにログイン後、「管理画面」からマイク練の承認を行って下さい。マイク練の承認は送信者に通知されます.
    </p><br>
    <a style="font-size:16px;padding:16px;color:white;background-color:salmon;" href="https://scsportal.herokuapp.com/login">ポータルのログイン画面へ</a>

  </body>
</html>
