<!DOCTYPE html>
<html>
  <head>
    <title>ScsPortalWeb</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  </head>

  <body>
  <!--       ヘッダーここから     -->

  <header>
    <div class="header-wrapper">
      <div class="sidemenu-open-btn"><i class="fa fa-bars"></i></div>
      <div class="header-left">
      <% if session[:user_id] == nil%>
        <div id="title"><%= link_to("SCS Portal","/",{class:"header-title"}) %></div>
      <% else %>
        <div id="title"><%= link_to("SCS Portal","/user/#{session[:user_id]}/show",{class:"header-title"}) %></div>
      <% end %>
        <div class="selectColor"></div>
      </div>
      <div class="header-right">
      </div>
      <div class="header-end">

        <% if session[:user_id] == nil && cookies[:user_id] == nil %>
          <a href="/login" class="btn login">ログイン</a>
        <% else %>

        <% end%>
      </div>
    </div>
  <% if flash[:notice]%>
    <div class="flash-notice">
        <%= flash[:notice] %>
    </div>
  <% end %>
  </header>

  <div id="sidemenu">
    <% if @current_user %>
    <div class="side-user">
      <div class="side-user-img"><i class="fa fa-user-circle-o"></i></div>
      <div class="side-user-info">
        <div class="side-user-name"><%= @current_user.name %></div>
        <div class="side-user-other">
          <%= @current_user.email %><br>
          <%= @current_user.year%>年度入会
        </div>
      </div>
    </div>
    <% end %>
    <div class="sidemenu-menu">
      <div class="sidemenu-category">ポータル</div>
      <%= link_to('/submit/mic') do %>
      <div class="sidemenu-content">
        <div class="side-content-img"><i class="fa fa-microphone"></i></div>
        <div class="side-content-title">マイク練予約</div>
      </div>
      <% end %>
      <%= link_to('/submit/room') do %>
      <div class="sidemenu-content">
        <div class="side-content-img"><i class="fa fa-pencil"></i></div>
        <div class="side-content-title">練習室利用</div>
      </div>
      <% end %>
      <%= link_to('/submit/entry') do %>
      <div class="sidemenu-content">
        <div class="side-content-img"><i class="fa fa-pencil-square-o"></i></div>
        <div class="side-content-title">エントリー</div>
      </div>
      <% end %>
      <%= link_to('/submit/comment') do %>
      <div class="sidemenu-content">
        <div class="side-content-img"><i class="fa fa-commenting-o"></i></div>
        <div class="side-content-title">講評・コメント</div>
      </div>
      <% end %>
      <%= link_to('/submit/regular-band') do %>
      <div class="sidemenu-content">
        <div class="side-content-img"><i class="fa fa-address-card-o"></i></div>
        <div class="side-content-title">バンド登録</div>
      </div>
      <% end %>

      <div class="sidemenu-category">その他</div>
      <%= link_to('/user/edit') do %>
      <div class="sidemenu-content">
        <div class="side-content-img"><i class="fa fa-cogs"></i></div>
        <div class="side-content-title">アカウント管理</div>
      </div>
      <% end %>
      <%= link_to('/submit/contact') do %>
      <div class="sidemenu-content">
        <div class="side-content-img"><i class="fa fa-question"></i></div>
        <div class="side-content-title">お問い合わせ・ご意見</div>
      </div>
      <% end %>
      <%= link_to('/database') do %>
      <div class="sidemenu-content">
        <div class="side-content-img"><i class="fa fa-users"></i></div>
        <div class="side-content-title">管理者画面へ</div>
      </div>
      <% end %>
    </div>
  </div>

<!--       ヘッダーここまで     -->
  <main>
    <%= yield %>
  </main>
<!--       フッターここから     -->
    <footer>
      <div class="copyright">© ️Street Corner Symphony 2017 all rights reserved<br><span>2017 SCS Automation Project</span></div>
    </footer>
  </body>
</html>
